@font-face {
  font-family: 'BricolageGrotesque-Medium';
  src: url('../assets/BricolageGrotesque-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'NunitoSans';
  src: url('../assets/NunitoSans.ttf') format('truetype');
}
@font-face {
  font-family: 'BricolageGrotesque-Bold';
  src: url('../assets/BricolageGrotesque-Bold.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.create-dashboard-container {
  display: flex;
  height: 100vh;
  font-family: 'BricolageGrotesque-Bold', sans-serif;
}

.create-main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

.create-edit-profile-scrollable {
  overflow-y: auto;
  padding: 20px;
  height: calc(100vh - 80px);
  width: 100%;
}

.create-form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 200px;
}

.create-label1 {
  font-family: 'BricolageGrotesque-Bold', sans-serif;
  font-size: 20px;
  color: #060606;
  margin-bottom: 5px;
}

.create-label2 {
  font-family: 'BricolageGrotesque-Bold', sans-serif;
  font-size: 18px;
  color: #060606;
  margin-bottom: 5px;
}

.create-label3 {
  font-family: 'BricolageGrotesque-Bold', sans-serif;
  font-size: 14px;
  color: gray !important;
  margin-bottom: 5px;
}

.create-save-button-container {
  width: 95%;
  display: flex;
  justify-content: flex-end;
}

.create-save-button {
  background-color: #BE0000;
  color: white;
  padding: 1rem 8rem;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
  font-family: 'BricolageGrotesque-Bold', sans-serif;
  margin-left: 25rem;
}

.create-save-button:hover {
  background-color: #d13300;
}

.create-box,
.create-box-middle {
  width: 100%;
  max-width: 800px;
  background-color: #f5f6fa;
  border: 1px solid #d5d5d5;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.create-box-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.create-plus-icon {
  font-size: 24px;
  font-weight: bold;
  color: #f94200;
  cursor: pointer;
}

.create-simple-input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  background-color: #f5f6fa;
  border: 1px solid #d5d5d5;
  font-family: 'BricolageGrotesque-Bold', sans-serif;
  font-size: 16px;
  color: #333;
  margin-top: 10px;
}

.create-toggle-switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 25px;
}

.create-toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.create-slider {
  position: absolute;
  cursor: pointer;
  background-color: #ccc;
  border-radius: 34px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
}

.create-slider::before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .create-slider {
  background-color: #f94200;
}

input:checked + .create-slider::before {
  transform: translateX(20px);
}

.create-slider.create-round {
  border-radius: 34px;
}

@media (max-width: 768px) {
  .create-form-wrapper {
    margin-left: 10px;
    margin-right: 10px;
  }

  .create-price-range {
    flex-direction: column;
  }

  .create-input-range {
    width: 100%;
  }
}
